{%extends 'base.html' %}

{% block titulo %}{{titulo}}{% endblock%}

{% block contenido %}

<h1>Hola, {{nombre|upper }}</h1>
<ol>

{%for amigo in amigos%}
	<li>{{amigo| capitalize}}</li>
{% endfor%}
</ol>
{%if misession.user%}
<a href="logout.php">LogOut</a>
{% endif %}
{% endblock%}