{%extends 'base.html' %}
{% block titulo %}{{titulo}}{% endblock%}
{% block contenido %}
	<form action="logout.php" method="post">
		<p>¿Estas seguro de que quieres salir?
		<input type="submit" name="salir" value="Salir">
	</form>
	{%for error in errores%}
	<p>{{error}}</p>
	{%endfor%}
{% endblock%}